{% extends "base/unLogined.html" %}
{% block title %}
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css">
{% endblock %}
{% block  details %}
<div class="top2"></div>
<div class="left"></div>

<div class="right">
    <a class="button" align="center" style="float:left"  href="">推 荐</a>
    <a class="button" align="center" style="float:left"  href="">销 量</a>
    <a class="button" align="center" style="float:left" href=""> 最 新</a>
</div>
{% endblock %}
