{% extends "base/logined.html" %}
{% block title %}
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css">
{% endblock %}
{% block  details %}
<div class="top2"></div>
<div class="left">
     <table>
    <tbody>
    {% for brand in brands %}
           <td class="goodssku" align="center">
              <a href="#" style="color: #333333;">{{ brand['brandname'] }}</a>
            </td>
     {% endfor %}
    </tbody>
     </table>
</div>
<div class="right">
    <a class="button" align="center" style="float:left"  href="#">推 荐</a>
    <a class="button" align="center" style="float:left"  href="#">销 量</a>
    <a class="button" align="center" style="float:left" href="#"> 最 新</a>
    <table>
    <tbody>
    {% for good in goods %}
           <td class="goods" style="border:10px solid rgb(228,223,215);">
               <img src="../../static/image/清明上河图.png" style="height: 70%"/>
              <a href="#" style="color: #333333;">商品名称：{{ good['title'] }}</a><br>
              <a href="#" style="color: #333333;">价 格：{{ good['price'] }}</a>
            </td>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}