{% extends "base/unLogined.html" %}
{% block title %}
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css">
    <script type="text/javascript" src="../../static/js/index.js"></script>
{% endblock %}
{% block  details %}
<div class="top2"></div>
<div class="left"></div>

<div class="right">
    <a class="button" align="center" style="float:left"  onclick="">推 荐</a>
    <a class="button" align="center" style="float:left"  onclick="">销 量</a>
    <a class="button" align="center" style="float:left" onclick=""> 最 新</a>
</div>
{% endblock %}
