   * {
            padding: 0;
            margin: 0;
           width:100%;
           height:100%;
        }
.top1{
             width: 100%;
             height: 10%;
             float:left;
             background: rgb(228,223,215);

       }
.left{
            width: 19.7%;
            height: 90%;
            float:left;
            background: rgb(226,225,228);
            border:2px solid rgb(255,255,255);

}
.right{
            width: 79.8%;
            height: 95%;
            float:left;
            background: rgb(226,225,228);
            border:2px solid rgb(255,255,255);

}
.userCenter {
    width: 100%;
    height: 10%;
    float: left;
    background: rgb(228,223,215);
    border: 2px solid rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    line-height:90px;
    color: black;
}

 .box{
        width: 380px;
        margin: 8px 30px;
        font-size: 14px;
        }
        .input{
        width: 260px;
        border: 1px solid rgb(187,181,172);
        height: 30px;
        float: left;
        background-image: url(images/search.jpg);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position:5px center;
        padding:0 0 0 40px;
        border-radius: 5px 0px 0px 5px;
        }
        .search{
        width: 78px;
        height: 32px;
        float: right;
        background: rgb(187,181,172);
        color: white;
        text-align: center;
        line-height: 32px;
        cursor: pointer;
        border-radius: 0px 5px 5px 0px;
        }
        a{ text-decoration:none;  }

        .text1{
            font-size: 15px;
            font-weight: bold;
            top:10px;
            right: 30px;
            margin: 8px 15px;
            width: 200px;
	        height: 30px;
            line-height:31px;
             color: #333333;
        }
        .button {
            background-color: rgb(187,181,172);
            font-size: 15px;
            border-radius: 6px;
            border: 2px solid rgb(187,181,172);
            width: 70px;
	        height: 30px;
            top:10px;
            right: 30px;
            margin: 8px 15px;
            line-height:31px;
             color: #333333;
        }
        .footer{
            width: 100%;
            height: 5%;
            float:left;
            background: rgb(228,223,215);
            border:2px solid rgb(255,255,255);
        }