{% extends "login/base.html" %}
{% block title %}
<title>注册</title>
{% endblock %}
{% block form %}
        <div class="middleRight">
            <form name="form1" method="post" class="form1">
                <table border="0" >
                <tr>
					<td><label for="username">用户名：</label></td>
					<td><input type="text" name="username" id="username" class="mytxt" /></td>
				</tr>
				<tr>
					<td><label for="password">密 码：</label></td>
					<td><input type="password" name="password" id="password" class="mytxt"/>（至少包含6个字符）</td>
				</tr>
				<tr>
					<td><label for="password2">再次输入密码：</label></td>
					<td><input type="password" name="password2" id="password2"  class="mytxt" /></td>
				</tr>
				<tr>
					<td><label for="phone_num">手机号：</label></td>
					<td><input type="tel" name="phone_num"  id="phone_num"  class="mytxt" /></td>
				</tr>
                <tr>
					<td><label for="email">邮箱：</label></td>
					<td><input type="email" name="phone_num"  id="email"  class="mytxt" /></td>
				</tr>

				<tr>
					<td><label >性别：</label></td>
					<td>
						<input id='male' type="radio" name="gender" value="0"/>&nbsp;&nbsp;<label for="male">男</label>
						<input id='female' type="radio" name="gender" value="1"/>&nbsp;&nbsp;<label for="female">女</label>
					</td>
				</tr>
                <tr>
                <td><label>出生日期：</label></td>
                <td>
                    <input type="date" size="1" name="birthday" placeholder="yyyy"  class="mytxt" />
                </td>
				</tr>

                </table>
                <br>
                    <input type="submit" name="submit" value="提 交" class="button"/> &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="reset" name="reset" value="重 置" class="button"/>
            </form>
        </div>
<div class="warning">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> {{ message }}
</div>
        {% endfor %}
    </div>
     {% endblock %}
