<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
</head>
<div class="top1" >
    {% block top %}
    {% endblock %}
    <div class="dropdown" align="center" style="float:right" >
        <button class="button" align="center" style="float:right">更 多</button>
        <div class="dropdown-content">
            {% block more %}
            <a href="{{ url_for('merchantBP.Merchant')}}">后 台</a>
            <a href="{{ url_for('userCenterBP.userCenter',uname=username)}}">用户中心</a>
            {% endblock %}
            <a href="{{ url_for('loginBP.login')}}">退出登录</a>
        </div>
    </div>
    <span class="text" align="center" style="float:right" >欢迎您！{{username}} </span>
    {% block  shoppingCart %}
    <a class="button" align="center" style="float:right" href="{{ url_for('shoppingCartBP.shoppingCart',uname=username)}}"> 购物车</a>
    {% endblock %}
    <div class="box" style="float:right">
      <input class="input" type="text" name="" placeholder="请输入商品内容">
    <a class="search" href="#" >
        <i class="search">搜 索</i>
    </a>
 </div>
</div>
{% block  details %}
{% endblock %}
</html>