{% extends "login/base.html" %}
{% block title %}
    <title>重置密码</title>
{% endblock %}
{% block form %}
        <div class="middleRight">
            <form name="form1" method="post" class="form1">
                <table border="0">
                <tr>
					<td><label for="password">新密码：</label></td>
					<td><input type="password" name="password" id="password" value="" class="mytxt"  /></td>
				</tr>
                <tr>
					<td><label for="password2">再次输入新密码：</label></td>
					<td><input type="password" name="password" id="password2" value="" class="mytxt"  /></td>
				</tr>
                </table>
                <input type="submit" value="提 交" class="button" /> &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="reset" value="重 置" class="button" />
            </form>
        </div>

{% endblock %}