<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>首页</title>
</head>
<body >
<div class="top1" >
    <span class="text" align="center" style="float:right" >欢迎您！{{username}} </span>
    <a class="button" align="center" style="float:right" href="userCenter.html"> 用户中心</a>
    <a class="button" align="center" style="float:right" href="shoppingCart.html"> 购物车</a>
    <div class="box" style="float:right">
      <input class="input" type="text" name="" placeholder="请输入商品内容">
    <a class="search" href="https://www.baidu.com" >
        <i class="search">搜 索</i>
    </a>
 </div>
</div>
<div class="top2"></div>
<div class="left"></div>

<div class="right">
    <a class="button" align="center" style="float:left"  href="">推 荐</a>
    <a class="button" align="center" style="float:left"  href="">销 量</a>
    <a class="button" align="center" style="float:left" href=""> 最 新</a>
</div>
</body>
</html>