<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>商家后台</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Merchant.css">
</head>
{% endblock %}
<body>
{% block top %}
<div class="top1" >
    <span class="text1" align="center" style="float:right" >欢迎您！{{username}} </span>
    <a class="text1" align="center" style="float:left" href="" > 品牌管理 </a>
    <a class="text1" align="center" style="float:left" href="" > 商品管理 </a>
    <a class="text1" align="center" style="float:left" href="" > 订单管理 </a>
    <a class="text1" align="center" style="float:left" href="" > 品牌数据分析 </a>
    <a class="text1" align="center" style="float:left" href=""> 产品数据分析 </a>
    <div class="box" style="float:right">
      <input class="input" type="text" name="" placeholder="请输入商品内容">
    <a class="search" href="indexLogined1.html" >
        <i class="search">搜 索</i>
    </a>
 </div>
</div>
{% endblock %}
{% block left %}
<div class="left">
    <table>
    <tbody>
    {% for goodsku in title %}
           <td class="userCenter" align="center">
              <a href="#" style="color: #333333;">{{ goodsku }}</a>
            </td>
        {% endfor %}
    </tbody>
     </table>
</div>
{% endblock %}
{% block right %}
<div class="right">
    <button type="button" class="button" onclick="dianwo()">添加品牌</button>
    <div class="zhezhao" id='zhezhao'>
			<div class="tankuang">
                <form name="form1" method="post" class="form1" enctype="multipart/form-data">
                <table border="0">
                    <tr>
					<td><label for="brandname" >品牌名称：</label></td>
					<td><input type="text" name="brandname" id="brandname" value="" class="mytxt" style="color: black" /></td>
				</tr>
				<tr>
					<td><label for="declaration"> 品牌宣言：</label></td>
					<td><input type="text" name="declaration" id="declaration" value="" class="mytxt" style="color: black"/></td>
				</tr>
                <tr>
					<td><label for="logo"> 品牌logo：</label></td>
					<td><input type="file" name="logo" id="logo" value="" class="mytxt" style="color: black"/></td>
				</tr>
                <tr>
					<td><label for="brandstory"> 品牌故事：</label></td>
                    <td><textarea name="brandstory" id="brandstory" class="mytxt" style="height:40px;color: black"></textarea></td>
				</tr>
                <tr>
					<td><label for="brandurl"> 品牌主页url：</label></td>
					<td><input type="text" name="brandurl" id="brandurl" value="" class="mytxt" style="color: black" /></td>
				</tr>
                <tr>
					<td><label for="phone_num"> 品牌联系方式：</label></td>
					<td><input type="text" name="phone_num" id="phone_num" value="" class="mytxt" style="color: black"/></td>
				</tr>
                </table>
                    <br>
                <input type="submit" value="重 置"  class="button" onclick="toRegister()" style="float:right;color: black" /> &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="新 建" class="button" style="float:right;color: black"/> &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </form>
				<div id="header">
					<span style="color:black;line-height: 70px;padding-left:40px;font-weight:bold">添加品牌</span>
					<div id="header-right" onclick="hidder()" style="color: black;line-height: 70px;padding-right:1%;font-weight:bold;cursor:hand">x</div>
				</div>
			</div>
		</div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
			document.getElementById('zhezhao').style.display="none";
			function dianwo(){
				document.getElementById('zhezhao').style.display="";
			}
			function hidder(){
				document.getElementById('zhezhao').style.display="none";
			}
</script>
{% endblock %}
</body>
</html>