<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商家后台</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Merchant.css">
</head>
<body>
<div class="top1" >
    <span class="text1" align="center" style="float:right" >欢迎您！吴大喜 </span>
    <a class="text1" align="center" style="float:left" href="" > 店铺管理 </a>
    <a class="text1" align="center" style="float:left" href="" > 商品管理 </a>
    <a class="text1" align="center" style="float:left" href="" > 订单管理 </a>
    <a class="text1" align="center" style="float:left" href="" > 店铺数据分析 </a>
    <a class="text1" align="center" style="float:left" href=""> 产品数据分析 </a>
    <div class="box" style="float:right">
      <input class="input" type="text" name="" placeholder="请输入商品内容">
    <a class="search" href="indexLogined1.html" >
        <i class="search">搜 索</i>
    </a>
 </div>
</div>
<div class="left">
        <a class="userCenter" align="center" href=""> 运营中店铺 </a>
        <a class="userCenter" align="center" href=""> 店铺申请 </a>
        <a class="userCenter" align="center" href=""> 店铺回收站 </a>
</div>
<div class="right"></div>
<div class="footer"></div>
</div>
</body>
</html>