<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/register.css">
    <title>登录</title>
</head>
<body>
<script type="text/javascript" src="../static/js/login.js"></script>
    <div class="top"></div>
    <div class="middle">
        <div class="middleLeft">
            <img src="../static/image/清明上河图.png"/>
        </div>
        <div class="middleRight">
            <form name="form1" method="post" class="form1">
                <table border="0">
                    <tr>
					<td><label for="username">用户名：</label></td>
					<td><input type="text" name="username" id="username" value="" class="mytxt" /></td>
				</tr>
				<tr>
					<td><button> 获取验证码：</button></td>
					<td><input type="submit" name="verificationCode" id="verificationCode" value="" class="button"  /></td>
				</tr>
                <tr>
					<td><label for="password">新密码：</label></td>
					<td><input type="password" name="password" id="password" value="" class="mytxt"  /></td>
				</tr>
                </table>
                <input type="submit" value="修 改" class="button" /> &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="重 置" class="button" onclick="cancel()" />
            </form>
        </div>
     </div>
    <div class="end"></div>
</body>
</html>
