{% extends "base/logined.html" %}
{% block title %}
    <title>购物车</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/shoppingCart.css">
{% endblock %}
{% block  details %}

{% block  shoppingCart %}
 <a class="button" align="center" style="float:right" href="../shoppingCart/shoppingCart.html"> 首页</a>
{% endblock %}
{% block  details %}
<div class="left">
        <a class="userCenter" align="center" href=""> 待收货 </a>
        <a class="userCenter" align="center" href=""> 待发货 </a>
        <a class="userCenter" align="center" href=""> 待评价 </a>
        <a class="userCenter" align="center" href=""> 已收货 </a>
        <a class="userCenter" align="center" href=""> 全部 </a>
</div>
<div class="right"></div>
{% endblock %}